@model CashierSystem.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        <h1 class="text-center pb-3">Product</h1>
        <h4 class="text-center pb-3">Create</h4>
    </div>
    <div class="row card-body justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SupplierId" class="control-label"></label>
                    <select asp-for="SupplierId" class="form-select" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Barcode" class="control-label"></label>
                    <input asp-for="Barcode" class="form-control" />
                    <span asp-validation-for="Barcode" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CostPrice" class="control-label"></label>
                    <input asp-for="CostPrice" class="form-control" />
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SalePrice" class="control-label"></label>
                    <input asp-for="SalePrice" class="form-control" />
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
