<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Business</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Customers">Customers</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Suppliers">Suppliers</a></li>
    </ul>
</li>