<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Payments</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Payments" asp-action="Index">Payments</a></li>
        <li><a class="dropdown-item" asp-controller="PaymentTypes" asp-action="Index">Payment Types</a></li>

    </ul>
</li>