<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Management</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Categories</a></li>
        <li><a class="dropdown-item" asp-controller="VwSalesDetails" asp-action="Index">Sales Details</a></li>
        <li><a class="dropdown-item" asp-controller="VwPayments" asp-action="Index">Payments</a></li>        
        <li><a class="dropdown-item" asp-controller="VwCustomerSummaries" asp-action="Index">Customer Summaries</a></li>
        <li><a class="dropdown-item" asp-controller="VwCurrentStocks" asp-action="Index">Current Stocks</a></li>
    </ul>
</li>