<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Inventory Management</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Categories</a></li>
        <li><a class="dropdown-item" asp-controller="VwSalesDetails" asp-action="Index">Sales Details</a></li>
    </ul>
</li>