<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Sales</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Sales" asp-action="Index">Sales </a></li>
        <li><a class="dropdown-item" asp-controller="SaleDetails" asp-action="Index">Sales Details</a></li>
    </ul>
</li>