<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <img src="~/IMG/sample1.jpg" alt="Alternate Text" class="img-fluid rounded mx-auto d-block" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

        <div class="col-sm-4">
            <h3>Column 2</h3>
            <img src="~/IMG/sample2.jpg" alt="Alternate Text" class="img-fluid rounded mx-auto d-block" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

        <div class="col-sm-4">
            <h3>Column 3</h3>
            <img src="~/IMG/sample3.jpg" alt="Alternate Text" class="img-fluid rounded mx-auto d-block" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <video id="videoPlayer" poster="https://via.placeholder.com/800x450.png?text=Video+Poster" class="w-100 rounded" controls>
                <source src="~/videos/file.mp4" type="video/mp4" />
                <source src="~/videos/file.webm" type="video/webm" />
                <source src="~/videos/file.ogv" type="video/ogg" />
                Your browser does not support HTML video.
            </video>
        </div>
        <div class="col-sm-4">
            <video id="videoPlayer" poster="https://via.placeholder.com/800x450.png?text=Video+Poster" class="w-100  rounded" controls>
                <source src="~/videos/file.mp4" type="video/mp4" />
                <source src="~/videos/file.webm" type="video/webm" />
                <source src="~/videos/file.ogv" type="video/ogg" />
                Your browser does not support HTML video.
            </video>
        </div>
        <div class="col-sm-4">
            <video id="videoPlayer" poster="https://via.placeholder.com/800x450.png?text=Video+Poster" class="w-100 rounded" controls>
                <source src="~/videos/file.mp4" type="video/mp4" />
                <source src="~/videos/file.webm" type="video/webm" />
                <source src="~/videos/file.ogv" type="video/ogg" />
                Your browser does not support HTML video.
            </video>
        </div>
    </div>
</div>
